@model List<Category>
    <partial name="_Notification" />
<hr />
<div class="row">
    <div class="col-md-6">
        <h2>LIST CATEGORY</h2>
    </div>
    <div class="col-md-6 text-right">
        <a asp-action="Create" class="btn btn-primary">Create new</a>
    </div>
</div>
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Name</th>
            <th>Display Order</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody >
        @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Name</td>
                    <td>@x.DisplayOrder</td>
                    <td style="color:white">
                        <a asp-action="Edit" asp-route-id="@x.Id" class="btn btn-success">Edit</a>
                        <a asp-action="Delete" asp-route-id="@x.Id" class="btn btn-warning">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>